:root{
    --eye-color: #ffffff;
    --eye-color2: #000000;
    --head-color: #1f1d1d;
    --detail-color: #4c4747;
    --detail-color2: #4c4c44;
    --mouth-color: #2d2828;
}

*{
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    cursor: url(https://cur.cursors-4u.net/nature/nat-7/nat696.cur), auto;
}

body{ 
    background-color: #080606;
}

.hand{
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 0vw;
    height: auto;
}
.hand img, .easteregg img{
    width: 100%;
    height: auto;
}
@keyframes punch{
    0%{width: 10vw;}
    60%{width: 10vw;}
    70%{width: 35vw;}
    100%{width: 35vw;}
}
.easteregg{
    display:none;

    z-index: 3;
  
    height: auto;
    width: 90%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.head{

    min-height: 50vh;    
    max-height: 75vh;
    min-width: 50vw;
    max-width: 75vh;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    position: relative;

    border: solid var(--detail-color2);
    background-color: var(--head-color);
    padding: 50px 0;
    border-radius: 40% 40% 33% 33%;
}

.topo{
    display: flex;

    height: 20%;
    background-color: var(--detail-color);
    border-radius: 30%;
    margin: 10%;
    margin-bottom: 0;
}
.eyes{
    position: relative;
    top: 50%;
    
    transform: translateY(-50%);
    margin: auto;
    
    width: 10%;
    height: 90%;
}
.eyelid{
    position: absolute;
    top: 0%;
    z-index: 2;

    background-color: var(--detail-color2);
    border-radius: 30% 30% 0 0;    
    width: 100%;
    height: 40%;

    transition: 0.6s;
}
.eyes:hover .eyelid{
    height: 92%;
}
.eye{
    position: absolute;
    top: 30%;

    background-color: var(--eye-color);
    border-radius: 0 0 30% 30%;
    width: 100%;
    height: 60%;
}

.ball{
    background-color: var(--eye-color2);
    border-radius: 50%;

    width: 50%;
    height: 40%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nose{
    display: flex;
    flex-direction:column;
    
    width: 30%;height: 30%;
}
.nose-top{
    background-color: var(--detail-color);
    width: 45%;
    height: 60%;
}
.nose-bot{
    display: flex;

    background-color: var(--detail-color);
    padding-top: 15%;
    border-radius: 30% 30% 0% 0%;

    width: 100%;
    height:40%;
}
.nostril{
    background-color: black;
    width: 20%;
    height: 100%;
    border-radius: 50%;

    z-index: 1;
    position: relative;
    top: 10%;
}

.mouth{
    z-index: 2;
    display: flex;
    flex-direction:column;

    background-color: var(--detail-color);

    width: 50%;
    height: 25%;
    
    padding:4%;
    border-radius: 30%;
}
.mouth-top{
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    border: solid;
    background-color: var(--mouth-color);
    border-radius: 40% 40% 10% 10%;
    width: 100%;
    height: 30%;
}
.mouth-bot{
    border: solid;
    background-color: var(--mouth-color);
    border-radius: 0 0 30% 30%;
    width: 90%;
    height: 50%;
}
footer{
    background-color: #0a61bde8;
    width: 30vw;
    height:auto;
    border-radius: 30%;
    color: black;
}